.attributesPage {
  .attributeModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    .closeIcon {
      position: absolute;
      top: 15px;
      right: 20px;
      cursor: pointer;
    }
    .modalArea {
      position: relative;
      width: 700px;
      height: 70vh;
      overflow-y: auto;
      background-color: white;
      z-index: 99999;
      border-radius: 12px;
      padding: 20px;
      .attributeFormArea {
        .attributeInput {
          padding: 15px 5px 15px 10px;
          width: 100%;
          border: none;
          outline: none;
          border: 1px solid rgba(198, 198, 200, 1);
          border-radius: 12px;
          color: rgba(68, 68, 68, 1);
        }
        .optionInpIsActive{
        display: flex;
        align-items: center;
        gap: 50px;
        }
        .addOptions{
          display: block;
          // margin: 20px 0 10px;
          margin-top: 15px;
          font-size: 18px;
          color: rgba(66, 180, 47, 1);
          cursor: pointer;
        }
      }
    }
  }
}
.optionValue{
  width: 500px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}