.modalArea {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modalWrapper {
    position: relative;
    z-index: 9999999;
    width: 700px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    position: relative;
    padding: 30px 20px;
    .closeModalIcon {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    .title {
      font-size: 32px;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
      margin-bottom: 10px;
    }
 
    .formWrapper {
      .inputListWrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        gap: 14px;
      }
      .saveBtn {
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        margin: 40px auto 0;
        padding: 15px 0;
        border: none;
        border-radius: 12px;
        color: white;
        background-color: rgba(66, 180, 47, 1);
      }
    }
  }
}

.closeModal {
  display: none;
}
