.loginPage {
  width: 100%;
  display: flex;
  .loginLeft {
    background-color: rgba(255, 255, 255, 1);
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 100px; 
    .zireLogo {
      width: 250px;
      height: 80px;
      object-fit: contain;
      margin: 0 auto 20px 0;
    }
    .loginForm {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 12px;
      .sendBtn {
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        width: 100%;
        padding: 15px 0;
        border: none;
        border-radius: 12px;
        color: white;
        background-color: rgba(66, 180, 47, 1);
      }
    }
    .privacyPolicy{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(161, 161, 161, 1);
    }
  }
  .loginRight {
    background-color: rgba(66, 180, 47, 1);
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  .loginPage {
  flex-direction: column;
  .loginLeft {
    width: 100%;
    height: 70vh;
    padding: 0 20px;
    .privacyPolicy{
        margin-top: 20px;
        font-size: 12px;
        font-weight: 500;
    }
  }
  .loginRight {
    width: 100%;
    max-height: 30vh;
    img{
      width: 50%;
      height: 100%;
    }
  }
}
}
