// .overlay{
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 999999;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.4);
//     display: flex;
//     justify-content: center;
//     align-items: center;

// .modalWrapper {
//     position: relative;
//     z-index: 9999999;
//   width: 50%;
//   height: fit-content;
//   background-color: rgba(255, 255, 255, 1);
//   border-radius: 12px;
//   position: relative;
//   padding: 30px 20px;
//   .closeModalIcon {
//     position: absolute;
//     top: 20px;
//     right: 20px;
//     cursor: pointer;
//   }
//   .title {
//     font-size: 32px;
//     font-weight: 500;
//     color: rgba(0, 0, 0, 1);
//     margin-bottom: 10px;
//   }
//   .formWrapper {
//     .inputListWrapper{
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
//     gap: 14px;
//   }
//   .saveBtn{
//     font-weight: 500;
//     font-size: 16px;
//     cursor: pointer;
//     width: 100%;
//     margin: 40px auto 0;
//     padding: 15px 0;
//     border: none;
//     border-radius: 12px;
//     color: white;
//     background-color: rgba(66, 180, 47, 1);
//   }
// }
// }
// }
// .closeModal {
//   display: none;
// }

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .modalArea {
    width: 700px;
    background-color: white;
    z-index: 99999999;
    border-radius: 12px;
    padding: 20px;
    position: relative;
    .closeModalIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .title{
      font-size: 30px;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
      margin: 20px 0 15px 0;
    }
    .formWrapper{
      .inputListWrapper{
         display: grid;
      grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
      gap: 20px;
      }
        .saveBtn{
      background-color: rgba(66, 180, 47, 1);
      color: white;
      margin: 20px 0;
      padding: 15px 0;
      border: none;
      width: 100%;
      border-radius: 12px;
      cursor: pointer;
    }
    }
  }
}
