.discountPage {
  .modalWrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    .modalArea {
      position: relative;
      width: 700px;
      height: 90vh;
      overflow-y: scroll;
      background-color: white;
      z-index: 99999999;
      border-radius: 12px;
      padding: 20px;
      .closeIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      .formWrapper {
        .valueTypeStartEndInputs {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
          gap: 20px;
        }
        .categorySearchWrapper,
        .productsSearchWrapper {
          width: 100%;
          position: relative;
        }
      }
      .searchResultArea {
        position: absolute;
        top: 90px;
        height: 125px;
        width: 100%;
        padding-top: 5px;
        background-color: rgba(198, 198, 200, 1);
        z-index: 9;
        border-radius: 5px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 4px;
        }
        &::-webkit-scrollbar-track {
          background: rgba(66, 180, 47, 1);
          background: rgba(50, 50, 50, 0.8);
          border-radius: 1rem;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba(50, 50, 50, 0.8);
          background: rgba(66, 180, 47, 1);
          border-radius: 1rem;
        }
       .resultTitle{
          display: flex;
          flex-direction: column;
          padding: 10px;
          cursor: pointer;
          &:hover {
            background-color: rgba(66, 180, 47, 1);
          }
        }
        .areaClose {
          cursor: pointer;
          position: absolute;
          top: 5px;
          right: 10px;
        }
      }
      .resetInput {
        position: absolute;
        top: 38px;
        right: 10px;
        cursor: pointer;
      }
      .checkedCategory {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 20px;
        margin-top: 20px;
        .checkedTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border: 1px solid rgba(66, 180, 47, 1);
          padding: 2px 5px;
          border-radius: 7px;
          .deleteIcon{
            cursor: pointer;
          }
        }
      }
    .noSearchResult {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }
    }
  }
}
