.headerWrapper {
  width: 98%;
  height: 70px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999999;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   background-color: rgba(250, 250, 252, 1);
   .siteLogo{
    width: 100%;
    height: 40px;
    object-fit: contain;
   }
  .langAndUserInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    .lang {
      border: none;
      background: transparent;
   
    }
    .userInfo {
      display: flex;
      align-items: center;
      gap: 8px;
      .userImg {
        width: 40px;
        height: 40px;
        // object-fit: contain;
        border-radius: 100%;
      }

      .userNamePosition {
        display: flex;
        flex-direction: column;
        gap: 3px;
        .userName {
          font-size: 16px;
          font-weight: 600;
        }
        .userPosition {
          font-size: 12px;
          font-weight: 400; 
        }
      }
    }
    .logoutBtn{
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 8px 15px;
      background-color: rgba(66, 180, 47, 1);
      color: white;
      border-radius: 20px;
      cursor: pointer;
      svg{
        height: 20px;
      }
    }
  }
}
