.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .imgAddAreaWrapper {
        margin: 20px 0;

        .imgAddWrapper {
            position: relative;
            width: 100%;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 10px;
            border: 2px dashed transparent;
            border-radius: 8px;
            background: repeating-linear-gradient(to right,
                    rgba(198, 198, 200, 1) 0 5px,
                    transparent 5px 10px) 0 0 / 100% 2px no-repeat,
                repeating-linear-gradient(to right,
                    rgba(198, 198, 200, 1) 0 5px,
                    transparent 5px 10px) 0 100% / 100% 2px no-repeat,
                repeating-linear-gradient(to bottom,
                    rgba(198, 198, 200, 1) 0 5px,
                    transparent 5px 10px) 0 0 / 2px 100% no-repeat,
                repeating-linear-gradient(to bottom,
                    rgba(198, 198, 200, 1) 0 5px,
                    transparent 5px 10px) 100% 0 / 2px 100% no-repeat;

            .imgInput {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
        }
    }

    .modalContent {
        .closeIcon {
            position: absolute;
            top: 15px;
            right: 20px;
            cursor: pointer;
        }

        width: 600px;
        height: 90vh;
        background-color: white;
        border-radius: 12px;
        padding: 15px;
        position: relative;
        z-index: 999999;
        overflow-y: auto;

        .modalPageList {
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 6px;
            padding: 10px;
            background-color: rgba(250, 250, 252, 1);

            .modalPageName {
                cursor: pointer;
                padding: 7px 12px;
            }

            .activePage {
                background-color: rgba(52, 199, 89, 1);
                color: white;
                border-radius: 4px;
            }
        }

        .form {
            margin-top: 20px;

            .modalAddProductArea {
                .nameSlugCategoryInputs {
                    display: flex;
                    align-items: end;
                    gap: 20px;

                    .categoryInpWrapper {
                        width: 100%;
                    }
                }

                .priceAndStockInpWrapper {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .priceInpWrapper,
                    .stockInpWrapper {
                        width: 100%;
                    }
                }

            }

            .optionsForm {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                gap: 20px;
            }
        }
    }
}