.orderViewPage {
  .orderContent {
    // width: 800px;
    width: calc(100% - 60px);
    border: 1px solid rgb(212, 212, 212);
    border-radius: 12px;
    padding: 0 10px;
    margin: 0 0 40px 30px;
    position: relative;
    .theOrderer {
      height: 30px;
      line-height: 44px;
      font-size: 25px;
      font-weight: 400;
      padding-left: 15px;
    }
    .line {
      width: 100%;
      background-color: rgb(212, 212, 212);
      height: 1px;
      border: none;
    }
    .title {
      height: 40px;
      background-color: rgba(66, 180, 47, 1);
      color: white;
      font-size: 20px;
      font-weight: 500;
      line-height: 42px;
      width: 100%;
      padding-left: 15px;
      margin: 0;
      border-radius: 7px 7px 0 0;
    }
    .content {
      padding: 0 0 10px 5px;
      border: 1px solid rgb(212, 212, 212);
      border-radius: 0 0 7px 7px;
      .list {
        margin: 7px 17px;
        list-style-type: disc;
        color: #2b3d45;
      }
    }
    .customerAndReceiverInfo {
      display: flex;
      align-items: center;
      gap: 20px;
      .customer {
        width: 50%;
        height: 200px;
        .noRegisterOrder {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 700;
          border: 1px solid rgb(212, 212, 212);
          border-radius: 0 0 7px 7px;
          height: 145px;
        }
      }
      .receiverInfo {
        width: 50%;
      }
    }
    .orders {
      .orderTable {
        border: 1px solid rgb(212, 212, 212);
        border-radius: 0 0 7px 7px;
        padding-bottom: 10px;
        margin-bottom: 15px;
        .orderNumber,
        .orderImage,
        .orderName,
        .orderSize,
        .orderCount,
        .orderPrice,
        .orderDiscount {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 28px;
        }
        .orderNumber {
          width: 30px;
        }
        .orderImage {
          width: 50px;
        }
        .orderName {
          width: 300px;
        }
        .orderSize {
          width: 100px;
        }
        .orderCount {
          width: 100px;
        }
        .orderDiscount {
          width: 100px;
        }
        .orderPrice {
          width: 100px;
        }
        .tableHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 7px;
        }
        .tableBody {
          .order {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 7px;
            .orderImageBody {
              width: 50px;
              height: 50px;
              img {
                width: 100%;
                height: 100%;
                border: 1px solid red;
              }
            }
          }
        }
      }
    }
    .ordersTotal {
      .totalContent {
        padding: 0 0 10px 5px;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 0 0 7px 7px;
        .list {
          margin: 7px 17px;
          list-style-type: disc;
          color: #2b3d45;
        }
      }
    }
    .noteArea {
      margin-bottom: 10px;
      .description {
        width: 100%;
        resize: none;
        outline: none;
        padding: 10px 0 10px 10px;
        border: 1px solid rgb(212, 212, 212);
        border-radius: 0 0 7px 7px;
      }
    }
    .orderStatusArea {
      position: sticky;
      bottom: 0;
      left: 0;
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      gap: 30px;
      border-radius: 0 0 7px 7px;
      background-color: white;
 .btnOrderStatus {
//   padding: 6px 15px;
padding: 3px 5px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
 text-transform: uppercase;
  cursor: pointer;
}

.btnOrderStatus.pending { background-color: #FFA500; }   
.btnOrderStatus.paid { background-color: #4CAF50; }        
.btnOrderStatus.payment_failed { background-color: #F44336; } 
.btnOrderStatus.confirmed { background-color: #2E7D32; }     
.btnOrderStatus.shipped { background-color: #1976D2; }      
.btnOrderStatus.delivered { background-color: #2E8B57; }     
.btnOrderStatus.cancelled { background-color: #9E9E9E; }      
.btnOrderStatus.returned { background-color: #9C27B0; }       

    }
  }
}
