.ordersPage {
  .modalArea {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .modalContent {
      position: relative;
      width: 500px;
      height: 200px;
      z-index: 99999999;
      border-radius: 12px;
      padding: 20px;
      background-color: white;
      .closeIcon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    }
  }
  .tableStatus {
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
     text-transform: uppercase;
  }
}
